* {
   margin: 0;
   padding: 0;
}

.review-item-box {
   border: 1px solid rgb(167, 165, 165);
   width: 571px;
   height: 107px;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   padding: 15px;
   box-sizing: border-box;
   border-radius: 5px;
}

.review-item-box img {
   width: 91px;
   margin-right: 15px;
}


.item-detail h4 {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 21px;
   color: #1C2B35;
}

.item-detail p {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   color: #1C2B35;
}

.price {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   color: #FF9900;
}

.details-box {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.dlt-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.dlt-btn {
   border: none;
   cursor: pointer;
   background-color: rgba(235, 87, 87, 0.3);
   height: 45px;
   width: 45px;
   border-radius: 50%;
   transition: 0.3s;
}

.dlt-btn:hover {
   background-color: rgba(235, 87, 87, 0.564);
}

.dlt-icon {
   font-size: 27px;
   color: rgba(235, 87, 87, 1);
}