.header {
   height: 80px;
   background-color: #1c2b35;
   padding-left: 140px;
   padding-right: 140px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.nav {
   text-decoration: none;
   color: #ffffff;
   margin-left: 20px;
   font-size: 16px;
}
.nav:hover {
   color: orange;
   border-bottom: 1px solid orange;
   border-radius: 5px;
   padding-bottom: 5px;
   transition: 0.3s;
}
